-content_for :head do
  %meta{property: "og:url",content: "http://juicify.co/"}
  %meta{property: "og:type", content: "website"}
  %meta{property: "og:title", content: "Juicify"}
  %meta{property: "og:image", content: "http://juicify.co/assets/logo807x480-22d57d18cc9de72fff06061797cde18b.png"}

.facebook
  =render 'shared/facebook'
   
.center.column
  %img.logo{src:asset_path('logo807x480.png')}  

.follow_us
  %p
    Follow us on
  %a.social{href:'http://www.facebook.com/pages/Juicify/416071728462995?ref=hl'}
    %img{src:asset_path('facebook.png')}
  %a.social{href:'https://twitter.com/Juicify_co'}
    %img{src:asset_path('twitter.png')}

.youtube
  =render 'shared/youtube'
.subscription
  =render 'shared/subscription'