// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook{
	z-index: 9;
	left: 50%;
	top: 20px;
	position: absolute;
	margin-left: -380px;
}

.youtube{
	z-index: 9;
	left: 50%;
	margin-left: -450px;
	top: 1800px;
	position: absolute;
}

.subscription{
	z-index: 9;
	left: 50%;
	margin-left: 100px;
	top: 1950px; 
	position: absolute;
	a{
		background: image-url('button.png') no-repeat;
		width: 365px;
		height: 63px;
		display:block;
	}
}

.follow_us{
	position: absolute; 
	top: 0px;
	left: 50%;
	display:block; 
	margin-left: -500px;   
	p{
		font-family: helvetica;
		font-size: 16px;
	}

	a.social{
		display:inline-block;
		img{
			width: 33px;
		}
	}
}

.column{
	width: 1100px;
	height: 2300px;
	display: block;
	position: relative;
	min-left: 0;
	background: image-url('background1100x2000.png') no-repeat;
	.logo{
		position: relative;
		left: 120px;
	}
}

.center{
	left: 50%;
	margin-left: -550px;
	margin-top: -10px;
}